body {
    background-color: black;
}

.index-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.index-image-1 {
    background-image: url("https://pbs.twimg.com/profile_images/1880871264/he-pizza-girl-20967-1303236257-6_400x400.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 33vh;
    width: 33vh;
}

.index-image-2 {
    background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/3819496/910/910/m2/fpnw/wm1/ft8wg9duwtxjqjnyg9gbjbb2wesqpbgjt5bvrmissn0mrq0a7eixee232uxmhdg3-.jpg?1515442648&s=94eeea62af7cb8a970d64aa5288e311c");
    background-repeat: no-repeat;
    background-size: contain;
    height: 33vh;
    width: 33vh;
}

.index-image-3 {
    background-image: url("https://image.shutterstock.com/display_pic_with_logo/853894/787676356/stock-photo-pizza-porn-pizza-lover-sexy-model-modern-fashion-art-787676356.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 33vh;
    width: 33vh;
}

.index_flex1 {
    flex: 1;
    border: 1px solid black;
}

.index-nav a{
    text-decoration: none;
    color: white;
    font-size: 2vh;
    padding: 1vh;
    border: 0.1vh solid white;
}

.index-nav a:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.index-h1 {
    color: red;
    font-size: 10vh;
    padding: 30vh 90vh;
    position: absolute;
}